{% macro render(item) %}
{%- set cover = url_for(theme.statics + item.slug + '/cover.jpg') %}
{%- set itemname = item.name %}
<section class="item">
  <div class="cover"{%- if cover %} data-background-image="{{ cover }}"{% endif %}>
    <h2 class="title">{{ itemname }}</h2>
    {%- if item.top.name %}
    <span>{{item.top.name}}</span>
    {%- endif %}
  </div>
  <div class="info">
    {%- if item.link %}
      {%- set postTitleIcon = '<i class="ic i-link-alt"></i>' %}
    {%- endif %}
    {%- set postText = itemname or item.link or __('post.untitled') %}
    <div class="ribbon">{{ _url(item.link or item.path, postText + (postTitleIcon or ''), {itemprop: 'url', title: postText}) }}</div>
    <div class="inner">
        {%- set len = '' %}
        {%- if item.child %}
            {%- set len = _p('counter.index.category', item.child) %}
        {%- endif %}
        {%- set len = len + _p('counter.index.post', item.length) %}
        <ul class="posts">
          {%- for sub in item.subs %}
            {%- set subname = sub.name or sub.title %}
            <li><a title="{{ subname }}" href="{{ url_for(sub.path) }}">{{ subname }}</a></li>
          {%- endfor %}
        </ul>
        <div class="meta footer">
          {%- if item.top %}
          <span>
            {{ _url(item.top.path, '<i class="ic i-flag"></i>'+item.top.name, {itemprop: 'url', title: item.top.name}) }}
          </span>
          {%- endif %}
          <span>
            <i class="ic i-file"></i>{{ len }}
          </span>
        </div>
        {{ _url(item.path, 'more...', {itemprop: 'url', title: itemname, class: 'btn'}) }}
    </div>
  </div>
</section>
{% endmacro %}
