.sidebar {
  //margin-top: 100%;
  position: static;
  width: $sidebar-desktop;
  top: 0;
  bottom: 0;
  the-transition();

  +tablet-mobile() {
    display: none;
    position: fixed;
    right: 0;
    background: var(--grey-1);
    box-shadow: 0 6px 15px 5px rgba(0, 0, 0, 0.2);
    z-index: $zindex-3;
  }

  &.affix>.inner {
    position: fixed;
    top: 0px;
  }

  >.inner {
    position: relative;
    width: $sidebar-desktop;
    color: var(--grey-6);
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    z-index: $zindex-1;
  }
}

.panels {
  padding: 75px 15px 32px;
  width: 100%;
  overflow: hidden;


  .inner {
    overflow-x: hidden;
    overflow-y: auto;
    width: auto;
    height: 100%;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .panel {
    display: none;

    &.active {
      display: block;
    }
  }
}

.sidebar.affix .panels {
  padding-top: 58px;
}

.cc-license {
  margin-top: 10px;
  text-align: center;

  .cc-opacity {
    border-bottom: none;
    opacity: .7;

    &:hover {
      opacity: .9;
    }
  }

  img {
    display: inline-block;
  }
}

@import 'dimmer';
@import 'author';
@import 'menu';
@import 'social';

@import 'quick';
@import 'tab';

@import 'toc';
@import 'related';
@import 'state';
