.copy-btn {
  color: var(--grey-5);
  cursor: pointer;
  position: absolute;
  the-transition();
  padding: 2px 6px;
  right: 2px;
  top: 6px;
  font-size: $font-size-smaller;

  &:hover {
    color: var(--grey-7);
  }

}


