@import 'copy-code';

// Placeholder: $code-block
$code-block {
  background: var(--grey-2);
  color: var(--grey-7);
  line-height: $line-height-code-block;
  margin: 20px auto;
}

pre,
code {
  font-family: $font-family-monospace;
  font-size: $font-size-medium;
}

pre.info {
  background: var(--grey-1);
  border: 1px solid var(--grey-3);
  border-radius: 5px;
}

code {
  background: var(--grey-0);
  border-radius: 3px;
  color: var(--primary-color);
  padding: .2em .3em;
  word-wrap();
}

// 代码样式
:not(pre)>code {
  color: var(--primary-color);
  border-radius: .3em;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--grey-0);
}

.highlight {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 5px 10px -2px var(--grey-9-a1);

  @extend $code-block;

  *::selection {
    background: var(--grey-4);
  }

  &::before {
    content: " ";
    position: absolute;
    border-radius: 50%;
    background: #fc625d;
    width: 12px;
    height: 12px;
    left: 12px;
    top: 13px;
    box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
  }

  pre {
    border: 0;
    margin: 0;
    padding: 10px 0;
    box-sizing: unset;
  }

  figcaption {
    color: var(--grey-4);
    display: inline-flex;
    font-size: $font-size-small;
    font-weight: 700;
    padding: 0 6em;
    min-height: 40px;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;

    background-color: var(--grey-3);

    &::before {
      content: attr(data-lang);
    }

    span {
      display: block;
      margin-left: 10px;
    }

    a {
      color: var(--grey-7);

      &:hover {
        border-bottom-color: var(--grey-7);
      }
    }

  }

  .code-container {
    display: flex;

    .show-btn {
      position: absolute;
      cursor: pointer;
      bottom: 0;
      width: 100%;
      height: 50px;
      line-height: 70px;
      text-align: center;
      color: var(--text-color);
      background-image: linear-gradient(180deg, transparent 10%, var(--grey-2) 50%);

      .ic {
        animation: UpDown 2s infinite;
      }

      &.open {
        background: none;
        bottom: 10px;
        .ic {
          animation: DownUp 2s infinite;
        }
      }

    }
  }

  .marked {
    display: inline-block;
    margin-right: -10px;
    padding-right: 10px;
    box-sizing: unset;
    background-color: var(--color-red-a1);
    width: 100%;
  }

  pre.gutter {
    disable-user-select();
    width: 30px;
    color: var(--color-grey);
    padding-right: 10px;
    text-align: right;
    overflow-y: hidden;
    //border-right: 1px solid var(--grey-3);
  }

  pre.code {
    background: var(--grey-2);
    padding: 10px;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;

    .marked {
      margin: auto -10px;
      padding: 0 10px;
      box-sizing: border-box;
      the-transition();

      &:hover {
        background-color: var(--grey-3);
      }
    }
  }

  &.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 100%;
    z-index: $zindex-5;
    margin: 0;
    animation: elastic 1s;
    border-radius: 0px;

    pre.code {
      height: 100vh;
      overflow: scroll;
    }
  }
}


pre {
  @extend $code-block;
  overflow: auto;
  padding: 10px;

  code {
    background: none;
    color: var(--grey-7);
    font-size: $font-size-small;
    padding: 0;
    text-shadow: none;
  }

  // For diff highlight
  .deletion {
    background: var(--color-pink-light);
  }

  .addition {
    background: var(--color-cyan-light);
  }

  .meta {
    color: var(--color-yellow);
    disable-user-select();
  }

  .comment,
  .punctuation {
    color: var(--grey-5);
  }

  .variable,
  .function,
  .attribute,
  .tag,
  .name,
  .regexp,
  .ruby .constant,
  .xml .tag .title,
  .xml .pi,
  .xml .doctype,
  .html .doctype,
  .css .id,
  .css .class,
  .css .pseudo {
    color: var(--color-red);
  }

  .number,
  .preprocessor,
  .built_in,
  .builtin-name,
  .literal,
  .params,
  .constant,
  .command {
    color: var(--color-orange);
  }

  .ruby .class .title,
  .css .rules .attribute,
  .string,
  .symbol,
  .value,
  .inheritance,
  .header,
  .ruby .symbol,
  .xml .cdata,
  .special,
  .formula {
    color: var(--color-green);
  }

  .title,
  .css .hexcolor,
  .namespace {
    color: var(--color-aqua);
  }

  .class-name,
  .python .decorator,
  .python .title,
  .ruby .function .title,
  .ruby .title .keyword,
  .perl .sub,
  .javascript .title,
  .coffeescript .title {
    color: var(--color-blue);
  }

  .keyword,
  .javascript .function {
    color: var(--color-purple);
  }
}
