<div class="meta">
  {%- if date(post.date) != date(post.updated) or time(post.date) != time(post.updated) %}
  <span class="item">
    <span class="icon">
      <i class="ic i-calendar-check"></i>
    </span>
    <span class="text">{{ __('post.edited') }}</span>
    <time title="{{ __('post.modified') + __('symbol.colon') + full_date(post.updated) }}" itemprop="dateModified" datetime="{{ moment(post.updated).format() }}">{{ date(post.updated) }}</time>
  </span>
  {%- endif %}

  {%- if theme.valine.appId and theme.valine.appKey and theme.valine.visitor %}
  <span id="{{ page.path | replace('index.html', '') }}" class="item leancloud_visitors" data-flag-title="{{ post.title }}" title="{{ __('post.views') }}">
      <span class="icon">
        <i class="ic i-eye"></i>
      </span>
      <span class="text">{{ __('post.views') }}</span>
      <span class="leancloud-visitors-count"></span>
      <span class="text">{{ __('symbols_count_time.view') }}</span>
  </span>
  {%- endif %}
</div>
