@font-face {
  font-family: 'ic';  /* project id 1832207 */
  src: url('//at.alicdn.com/t/font_1832207_ouigvl856go.eot');
  src: url('//at.alicdn.com/t/font_1832207_ouigvl856go.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1832207_ouigvl856go.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1832207_ouigvl856go.woff') format('woff'),
  url('//at.alicdn.com/t/font_1832207_ouigvl856go.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1832207_ouigvl856go.svg#ic') format('svg');
}

.ic {
  font-family: "ic" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  width: 1.25em;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.ic-lg {
  font-size: 1.33333em;
  line-height: .75em;
  vertical-align: -.0667em;
}

.i-calendar-check:before {
  content: "\ef5b";
}

.i-eye:before {
  content: "\e8e6";
}

.i-angle-up:before {
  content: "\ef1b";
}

.i-facebook:before {
  content: "\f19d";
}

.i-instagram:before {
  content: "\f1d3";
}

.i-skype:before {
  content: "\f231";
}

.i-stack-overflow:before {
  content: "\f239";
}

.i-youtube:before {
  content: "\f274";
}

.i-list-alt:before {
  content: "\e6c1";
}

.i-star:before {
  content: "\f0d4";
}

.i-link-alt:before {
  content: "\f037";
}

.i-paper-plane:before {
  content: "\f063";
}

.i-user:before {
  content: "\f2dd";
}

.i-link:before {
  content: "\e8fc";
}

.i-angle-down:before {
  content: "\ef1a";
}

.i-calendar:before {
  content: "\e812";
}

.i-home:before {
  content: "\e8ed";
}

.i-magic:before {
  content: "\f03e";
}

.i-sakura:before {
  content: "\e695";
}

.i-tag:before {
  content: "\e759";
}

.i-angle-left:before {
  content: "\ef19";
}

.i-arrow-circle-right:before {
  content: "\ef23";
}

.i-check-circle:before {
  content: "\ef66";
}

.i-exclamation-circle:before {
  content: "\efb5";
}

.i-info-circle:before {
  content: "\f02b";
}

.i-minus-circle:before {
  content: "\f050";
}

.i-plus-circle:before {
  content: "\f082";
}

.i-clock:before {
  content: "\f284";
}

.i-file-word:before {
  content: "\f299";
}

.i-check:before {
  content: "\ef65";
}

.i-clipboard:before {
  content: "\ef72";
}

.i-times:before {
  content: "\f109";
}

.i-list-ol:before {
  content: "\f039";
}

.i-archive:before {
  content: "\ef1c";
}

.i-angle-right:before {
  content: "\ef1f";
}

.i-arrow-down:before {
  content: "\ef25";
}

.i-arrow-up:before {
  content: "\ef2a";
}

.i-chart-area:before {
  content: "\ef64";
}

.i-chevron-left:before {
  content: "\ef6e";
}

.i-chevron-right:before {
  content: "\ef6f";
}

.i-coffee:before {
  content: "\ef7a";
}

.i-envelope:before {
  content: "\efae";
}

.i-external-link-alt:before {
  content: "\efb6";
}

.i-file:before {
  content: "\efc0";
}

.i-heart:before {
  content: "\f013";
}

.i-heartbeat:before {
  content: "\f017";
}

.i-search:before {
  content: "\f0a8";
}

.i-sitemap:before {
  content: "\f0bd";
}

.i-tags:before {
  content: "\f0f3";
}

.i-th:before {
  content: "\f0fc";
}

.i-thumbtack:before {
  content: "\f107";
}

.i-times-circle:before {
  content: "\f10a";
}

.i-creative-commons:before {
  content: "\f17e";
}

.i-github:before {
  content: "\f1b4";
}

.i-twitter:before {
  content: "\f24d";
}

.i-weibo:before {
  content: "\f261";
}

.i-address-card:before {
  content: "\f278";
}

.i-zhihu:before {
  content: "\e765";
}

.i-cloud-music:before {
  content: "\e76a";
}
