::-webkit-scrollbar {
  width: .3125rem;
  height: .3125rem;
  background: transparent;
}

::-webkit-scrollbar-track {
  border-radius: .3125rem;
  background: transparent;
}

::-webkit-scrollbar-track-piece {
  background: transparent;
}

::-webkit-scrollbar-button {
  background: transparent;
  height: 0;
}

::-webkit-scrollbar-thumb {
  border-radius: 1.25rem;
  background-clip: padding-box;
  background-color: var(--grey-3);
  background-image: linear-gradient(45deg,var(--grey-1-a5) 25%,transparent 0,transparent 50%,var(--grey-1-a5) 0,var(--grey-1-a5) 75%,transparent 0,transparent);
}

$big-scrollbar {
  &::-webkit-scrollbar {
    width: .5rem;
    height: .5rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-pink-light);
  }
}
