{% extends '_partials/layout.njk' %}

{% block title %}{{ page.title }} | {% endblock %}

{% block content %}
  <div class="page wrap">
    <div class="notfound">{{ page.content }}</div>
  </div>
{% endblock %}

