{% extends '_partials/layout.njk' %}
{% import '_macro/card.njk' as card with context %}

{% block content %}
  <div class="index wrap">
  {%- if theme.index.mode == 'category' %}
    {%- set categories = _categories() %}
    {%- if categories %}
      {%- for id,cat in categories %}
        {{ card.render(cat, theme.index.mode) }}
      {%- endfor %}
    {%- endif %}
  {%- else %}
    {%- set posts = page.posts.toArray() %}

      {%- for post in posts %}
        {{ card.render(post, theme.index.mode) }}
      {%- endfor %}

  {%- endif %}
  </div>

  {% include '_partials/pagination.njk' %}

{% endblock %}

