.md {
  .note, details {
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: .1875rem;
      border-bottom: initial;
      margin-bottom: 0;
      padding-top: 0;
    }

    p {
      line-height: 1.8;
    }

    a {
      &:not(.btn) {
        color: var(--note-hover);
        border-bottom: .0625rem dashed var(--note-text);

        &:hover {
          color: var(--note-text);
          border-bottom-color: var(--note-text);
        }
      }
    }

    ul {
      li::before {
        background: var(--note-text);
      }
    }

    ol {
      li:before {
        background: var(--note-text) !important;
        width: .8rem;
        height: .8rem;
        font-size: .45rem;
        line-height: .8rem;
        top: .4rem;
        left: -1.2rem
      }
    }
  }
}

