span.label {
  display: inline;
  padding: .25em .3em;
  border-radius: .3em;
  font-size: 85%;
  border: 1px solid;

  &.default {
    background: var(--default-bg);
    border-color: var(--default-border);
    color: var(--default-text);
  }

  &.primary {
    background: var(--primary-bg);
    border-color: var(--primary-border);
    color: var(--primary-text);
  }

  &.info {
    background: var(--info-bg);
    border-color: var(--info-border);
    color: var(--info-text);
  }

  &.success {
    background: var(--success-bg);
    border-color: var(--success-border);
    color: var(--success-text);
  }

  &.warning {
    background: var(--warning-bg);
    border-color: var(--warning-border);
    color: var(--warning-text);
  }

  &.danger {
    background: var(--danger-bg);
    border-color: var(--danger-border);
    color: var(--danger-text);
  }
}
