.md .tabs {
  display: block;
  position: relative;
  margin: 0 0 2rem;
  shadow-box();

  ul.nav {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin-bottom: -.0625rem;
    padding: 0;
    white-space: nowrap;
    border: none;
    z-index: 0;
    border-bottom: .0625rem solid var(--grey-3);

    li {
      position: relative;
      cursor: pointer;
      border: none;
      display: inline-block;
      padding: .3125rem 1.25rem;

      &::before {
        position: absolute;
        left: 50%;
        right: 50%;
        top: auto;
        bottom: 0;
        transition: all .2s ease-in-out;
        width: auto;
        height: auto;
        background: none;
        border-radius: 0;
        border-bottom: .125rem solid transparent;
      }

      &.active::before {
        left: 0;
        right: 0;
        border-bottom-color: var(--note-hover, var(--primary-color));
      }

    }
  }

  .tab {
    padding: 1.25rem;
    display: none;
    @extend .fade-in;

    &.active {
      display: block;
    }
  }

  .show-btn {
    position: absolute;
    cursor: pointer;
    right: 0;
    bottom: 0;
    width: 2.875rem;
    height: 2.875rem;
    text-align: center;
    color: var(--grey-4);
    z-index: $zindex-1;

    &::before {
      font-family-icons();
      @extend .i-arrow-up:before;
    }
  }

}
