// Menu
// --------------------------------------------------
header .list.menu {
  padding: 10px 0;
  margin: 0;
  width: 100%;

  .item {
    display: inline-block;
    position: relative;

    padding: 0 10px;

    +mobile() {
      display: none;
    }

    a, span.exturl {
      display: block;
      font-size: $font-size-medium;
    }

    i {
      margin-right: 8px;
    }

    .badge {
      display: inline-block;
      font-weight: bold;
      line-height: 1;
      margin-left: .35em;
      margin-top: .35em;
      text-align: center;
      white-space: nowrap;

      +mobile() {
        float: right;
        margin-left: 0;
      }
    }

    a:hover, &.active a {
      opacity: .8;
    }

    &.active a:hover {
      opacity: 1;
    }

    .sub {
      display: none;
      position: absolute;
      margin-top: 8px;
      padding: 0;
      width: max-content;
      background-color: var(--grey-1);
      box-shadow: 0 5px 20px -4px var(--grey-9-a1);
      animation: slideUpIn 0.3s 0.1s ease both;
      border-radius: 10px 0;

      &::before {
        position: absolute;
        top: -20px;
        left: 0;
        width: 100%;
        height: 40px;
        content: '';
      }

      &:hover {
        display: block;
      }

      .item {
        list-style: none;
        display: block;

        &:first-child{
          border-radius: 10px 0 0 0;
        }

        &:last-child{
          border-radius: 0 0 10px 0
        }

        a {
          display: inline-block;
          padding: 0.3rem 0.7rem;
          width: 100%;
          color: var(--text-color);
          text-shadow: none;
        }

        &:hover, &.active {
          background: linear-gradient(to right,var(--color-pink) 0,var(--color-orange) 100%);
          a {
            color: var(--grey-0);
            opacity: 1;
          }
        }
      }
    }

    &:hover {
      .sub {
        display: block;
      }
    }
  }
}

.menu div {
  cursor: pointer;
}
