.right.menu {
  display: inline-flex;
  line-height: 1;
  align-items: center;
  justify-content: center;


  .search-btn, .theme-btn {
    padding: 10px 8px;
  }

  div.search-btn + div {
    margin-left: 5px;
  }

  .i-sun {
    font-size: $font-size-large;
  }
}

