.right.menu {
  display: inline-flex;
  line-height: 1;
  align-items: center;
  justify-content: center;

  .back-to-top {
    display: none;

    span {
      font-size: $font-size-smallest;
      margin: 10px;
      width: 30px;
    }
  }

  .search-btn, .theme-btn {
    padding: 10px 8px;
  }

  div.search-btn + div {
    margin-left: 5px;
  }

  .i-sun {
    font-size: $font-size-large;
  }
}

.container>header nav.show {
  .back-to-top {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}
