.post .body {
  +desktop() {
    text-align: unquote(hexo-config('text_align.desktop'));
  }

  +tablet-mobile() {
    text-align: unquote(hexo-config('text_align.mobile'));
  }

  a,
  span.exturl {
    color: var(--color-red); //原始链接颜色

    &:hover {
      color: var(--color-blue); //鼠标经过颜色
    }
  }

  for headline in (1 .. 6) {
    h{headline} {
      font-size: $font-size-headings-base - $font-size-headings-step * headline;
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    position: relative;
    padding-top: 10px;

    &:hover .anchor {
      visibility: visible;

      &::before, &::after {
        color: var(--color-red);
      }
    }
  }

  h1::after {
    content: "";
    display: block;
    box-sizing: unset;
    width: 100%;
    height: 1px;
    background: var(--grey-3);
    padding-right: 20px;
    margin-left: -20px;
    margin-top: 5px;
  }

  .anchor {
    border-bottom-style: none;
    color: var(--grey-4);
    float: right;
    margin-left: 10px;
    visibility: hidden;

    &:hover {
      color: inherit;
    }
  }


  .anchor::before,
  .anchor::after {
    color: var(--grey-4);
    position: absolute;
    font-weight: normal;
    the-transition(, ease-out);
  }

  .active .anchor::before,
  .active .anchor::after {
    color: var(--color-red);
  }

  li {
    position: relative;
    /*p + ul:not(.options) {
      margin: -20px 0 20px 0;
    }*/
  }

  ul:not(.options) {
    padding-inline-start: 20px;

    &.task-list {
      padding-inline-start: 0px;
    }

    li.task-list-item {
      input[type='checkbox'] {
        display: none;
      }

      input[type='checkbox']+label::before {
        @extend .i-times-circle:before;
        font-family-icons();
        color: var(--grey-4);
        display: inline-block;
        margin-right: 10px;
      }

      input[type='checkbox']:checked+label::before {
        @extend .i-check-circle:before;
        color: var(--color-red);
      }
    }
  }

  ul:not(.options) > li:not(.task-list-item):not(.nodot),
  dl dt {
    &::before {
      content: "";
      position: absolute;
      width: 8px;
      height: 8px;
      background: var(--color-red);
      border-radius: 50%;
      top: .8em;
      left: -1.2em;
    }

    &.ruby::before {
      top: 1.2em;
    }
  }

  ol {
    padding-inline-start: 20px;

    &:not([start]) {
      counter-reset: counter;
    }

    >li::before {
      counter-increment: counter;
      content: counter(counter) ".";
      position: absolute;
      color: var(--color-red);
      text-align: right;
      width: 30px;
      left: -35px;
    }

    >li.ruby::before {
      top: .5em;
    }
  }

  dl {
    padding-inline-start: 40px;
    +tablet-mobile() {
      padding-inline-start: 20px;
    }
    dt {
      position: relative;
    }
    dd {
      padding-left: 15px;
    }
  }

  blockquote {
    font-size: 90%;
    background-color: var(--grey-2);
    margin: 20px 0;

    ul {
      margin: 10px 0 !important;
    }

    ul li::before {
      width: 6px !important;
      height: 6px !important;
      top: 11px !important;
    }
  }

  >blockquote {
    /*margin: 0 -30px 20px -33px;*/
    border-left: 3px solid var(--color-red);
    padding: 10px 15px;

    +tablet-mobile() {
      //margin: 0 -20px 20px;
      padding: 10px 25px;
    }

    p {
      margin: 0;
    }
  }

  table {
    overflow: auto
  }

  iframe {
    margin-bottom: 20px;
  }

  .image-info {
    display: block;
    text-align: center;
    font-size: $font-size-smaller;
    color: var(--grey-4);
  }

  .video-container {
    height: 0;
    margin-bottom: 20px;
    overflow: hidden;
    padding-top: 75%;
    position: relative;
    width: 100%;

    iframe,
    object,
    embed {
      height: 100%;
      left: 0;
      margin: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }


  ::-webkit-details-marker {
    display: none;
  }

  details{
    > summary:first-of-type {
      list-style-type: none;
    }
    summary {
      outline: none;
      cursor: pointer;
      padding: 10px;

      .details-marker:before {
        font-family-icons();
        @extend .i-angle-right:before;
        color: var(--grey-4);
      }
    }
    p {
      padding: 10px;
      margin: 0px;
    }
  }

  details[open] {
    > summary {
      border-radius: 20px;
      background: var(--grey-2);
      .details-marker:before {
        @extend .i-angle-down:before;
        color: var(--color-red);
      }
    }
    p {
      color: var(--grey-6);
      animation: fadeIn .5s;
    }
  }

  .katex-display {
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .spoiler {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      background: var(--text-color);
      z-index: -1;
      the-transition();
    }

    &:hover::before {
      opacity: .15
    }
  }
}

.article .post .body {

  .anchor::before,
  .anchor::after {
    content: "H";
    font-family: $font-family-posts;
    left: -30px;
    top: 16px;
    width: 20px;
    height: 25px;
    text-align: right;
    visibility: visible;
    font-size: 80%;

    +mobile-small() {
      left: -10px;
    }
  }

  .anchor::after {
    font-size: 50%;
    left: -22px;
    line-height: 3em;

    +mobile-small() {
      left: -3px;
    }
  }

  for headline in (1 .. 6) {
    h{headline} .anchor::after {
      content: \"headline\";
    }
  }
}

