.md > .gallery {
  align-items: center;
  display: grid;
  grid-gap: .625rem;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 1.25rem;

  +mobile() {
    grid-template-columns: 1fr 1fr;
  }

  a {
    // For fancybox
    border: 0;
  }

  img {
    margin: 0;
  }
}
