.reward {
  margin: 1.25rem auto;
  padding: .625rem 0;
  text-align: center;

  button {
    background: var(--primary-color);
    border: 0;
    border-radius: .3125rem;
    color: var(--grey-0);
    cursor: pointer;
    line-height: 2;
    outline: 0;
    padding: 0 .9375rem;
    vertical-align: text-top;

    &:hover {
      background: var(--primary-color);
    }

    i {
      margin-right: .3125rem;
    }
  }

  p {
    font-size: $font-size-smaller;
    color: var(--grey-5);
    margin: 0;
  }
}

#qr {
  padding-top: 1.25rem;
  display: none;

  a {
    border: 0;
  }

  img {
    display: inline-block;
    max-width: 100%;
  }

  p {
    text-align: center;
  }

}
