.widgets {
  border-top: .0625rem solid var(--grey-2);
  margin-top: .9375rem;
  text-align: center;


  .header {
    position: relative;
    padding-left: .625rem;

    &::before {
      content: "";
      position: absolute;
      width: .3125rem;
      height: 2rem;
      left: -.3125rem;
      background: var(--primary-color);
      border-radius: .375rem;
    }
  }
}
