@import "_variables";

@import "_mixins";

if $colors = hexo-config('style.colors')
  @import $colors;
else
  @import "_colors";

if $_iconfont = hexo-config('style.iconfont')
  @import $_iconfont;
else
  @import "_iconfont";

// Scaffolding
@import "_common/scaffolding";

// Layout
@import "_common/outline";

// Components
@import "_common/components";

if $custom = hexo-config('style.custom')
  @import $custom;
