// Header Section
// --------------------------------------------------
#header {
  margin: 0 auto;
  position: relative;
  width: 100%;
  height: 50vh;
  text-shadow: 0rem .2rem .3rem alpha(#000, .5);
  color: var(--header-text-color);

  a:hover {
    color: currentColor;
  }
}

@import 'image';
@import 'nav';
@import 'brand';
@import 'tool';
@import 'waves';
