#nav .right {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  .item {
    padding: .625rem .5rem;
    cursor: pointer;
  }

  .i-sun {
    font-size: $font-size-large;
  }
}

