::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: transparent;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  background: transparent;

}

::-webkit-scrollbar-track-piece {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-clip: padding-box;
  border: 2px solid transparent;
  background-color: var(--color-pink-light);


  &:hover {
    background-color: var(--color-pink-light);
  }
}
