::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: transparent;
  +mobile() {
    width: 0px;
    height: 4px;
  }
}

::-webkit-scrollbar-track {
  border-radius: 2px;
  background: transparent;
}

::-webkit-scrollbar-track-piece {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: var(--color-pink-light);

  &:window-inactive {
    background-color: var(--color-pink-light-a3);
  }

  &:hover {
    background-color: var(--color-pink-light-a5);
  }

  &:active {
    background-color: var(--color-pink-light-a7);
  }
}
