<nav id="nav">
  <div class="inner">
    <div class="toggle">
      <div class="lines" aria-label="{{ __('accessibility.nav_toggle') }}">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
      </div>
    </div>
    <ul class="menu">
      <li class="item title"><a href="{{ config.root }}" rel="start">{{ alternate or title }}</a></li>
    </ul>
    <ul class="right">
      <li class="item theme">
        <i class="ic i-sun"></i>
      </li>
      <li class="item search">
        <i class="ic i-search"></i>
      </li>
    </ul>
  </div>
</nav>
