<nav id="nav">
  <div class="inner">
    <div class="toggle">
      <div class="lines" aria-label="{{ __('accessibility.nav_toggle') }}">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
      </div>
    </div>
    <ul class="menu">
      <li class="item title"><a href="{{ config.root }}" rel="start">{{ alternate or title }}</a></li>
      {{ partial('_partials/sidebar/menu.njk', {}, {cache: true}) }}
    </ul>
    <ul class="right">
      <li class="item theme">
        <i class="ic i-sun"></i>
      </li>
      <li class="item search">
        <i class="ic i-search"></i>
      </li>
    </ul>
  </div>
</nav>
<div id="search">
  <div class="inner">
    <div class="header">
      <span class="icon">
        <i class="ic i-search"></i>
      </span>
      <div class="search-input-container"></div>
      <span class="close-btn">
        <i class="ic i-times-circle"></i>
      </span>
    </div>
    <div class="results">
      <div class="inner">
        <div id="search-stats"></div>
        <div id="search-hits"></div>
        <div id="search-pagination"></div>
      </div>
    </div>
  </div>
</div>
<div id="tool">
  <div class="item player"></div>
  <div class="item chat"><i class="ic i-comments"></i></div>
  <div class="item back-to-top">
    <i class="ic i-arrow-up"></i>
    <span>0%</span>
  </div>
</div>
