{% import '_macro/sidebar.njk' as sidebar with context %}
<!DOCTYPE html>
<html lang="{{ config.language }}">
<head>
  {{ partial('_partials/head/head.njk', {}, {cache: true}) }}
  {{ partial('_partials/head/head_unique.njk') }}
  <title>{% block title %}{% endblock %}{{ logo + " = " if logo }}{{ title }}{{ " = "+subtitle if subtitle }}</title>
</head>
<body itemscope itemtype="http://schema.org/WebPage">
  <div class="loading">
    <div class="cat">
      <div class="body"></div>
      <div class="body"></div>
      <div class="tail"></div>
      <div class="head"></div>
    </div>
  </div>

  <div class="container">
    <header itemscope itemtype="http://schema.org/WPHeader">
      <div class="inner">
        {% block header %}{{ partial('_partials/header.njk', {}, {cache: true}) }}{% endblock %}
      </div>
      <ul class="lozad">
      {%- for image in theme.header_bg %}
        <li data-background-image="{{ url_for(theme.statics + theme.images +'/banner/'+ image) }}"></li>
      {%- endfor %}
      </ul>
    </header>
    <main>
      <div class="inner">
        <div class="content pjax">
          {% block content %}{% endblock %}
        </div>
        <div class="sidebar">
          {% block sidebar %}{{ sidebar.render() }}{% endblock %}
        </div>
        <div class="dimmer"></div>
      </div>
    </main>

    <footer>
      <div class="inner">
        {{ partial('_partials/footer.njk', {}, {cache: true}) }}
      </div>
    </footer>
  </div>

<script data-config type="text/javascript">
  var LOCAL = {
    favicon: {
      show: "{{ __('favicon.show') }}",
      hide: "{{ __('favicon.hide') }}"
    },
    search : {
      placeholder: "{{ __('search.labels.placeholder') }}",
      empty: "{{ __('search.labels.empty') }}",
      stats: "{{ __('search.labels.stats') }}"
    },
    {%- if (is_post() or is_page()) and page.comment !== false  %}
    valine: true,{%- endif %}
    {%- if page.chart %}chart: true,{%- endif %}
    {%- if page.math %}copy_tex: true,
    katex: true,{%- endif %}
    {%- if page.mermaid %}mermaid: true,{% endif %}
    ignores : [
      function(uri) {
        return uri.includes('#');
      },
      function(uri) {
        return uri === '{{ url | replace('index.html', '') }}';
      }{%- if theme.quicklink.ignores %},
      {{ theme.quicklink.ignores|safedump }}
      {% endif %}
    ]
  };
</script>

{{ _vendor_js() }}

{{ _js('app.js')}}

{{ partial('_partials/third-party/baidu-analytics.njk', {}, {cache: true}) }}

</body>
</html>
