{%- if page.prev or page.next %}
  <nav class="pagination">
    <div class="inner">
    {{
      paginator({
        prev_text: '<i class="ic i-angle-left" aria-label="' + __('accessibility.prev_page') + '"></i>',
        next_text: '<i class="ic i-angle-right" aria-label="' + __('accessibility.next_page') + '"></i>',
        mid_size : 1,
        escape   : false
      })
    }}
    </div>
  </nav>
{%- endif %}
