.operation {
  color: var(--grey-5);
  cursor: pointer;
  position: absolute;
  padding: .125rem .375rem;
  right: .125rem;
  top: .45rem;
  font-size: $font-size-smaller;

  span {
    the-transition();
    margin: 0 .3125rem;

    &:hover {
      color: var(--grey-7);
    }
  }

}


