<div class="author" itemprop="author" itemscope itemtype="http://schema.org/Person">
  <img class="image" itemprop="image" alt="{{ author }}"
      data-src="{{ url_for(theme.statics + theme.images + '/'+ theme.sidebar.avatar) }}">
  <p class="name" itemprop="name">{{ author }}</p>
  <div class="description" itemprop="description">{{ description }}</div>
</div>

<nav class="state">
  {%- if config.archive_dir != '/' and site.posts.length > 0 %}
    <div class="item posts">
      <a href="{{ url_for(config.archive_dir + '/') }}">
        <span class="count">{{ site.posts.length }}</span>
        <span class="name">{{ __('state.posts') }}</span>
      </a>
    </div>
  {%- endif %}

  {%- if config.category_dir != '/' and site.categories.length > 0 %}
    <div class="item categories">
      <a href="{{ url_for(config.category_dir + '/')}}">
        <span class="count">{{ site.categories.length }}</span>
        <span class="name">{{ __('state.categories') }}</span>
      </a>
    </div>
  {%- endif %}

  {%- if config.tag_dir != '/' and site.tags.length > 0 %}
    <div class="item tags">
      <a href="{{ url_for(config.tag_dir + '/') }}">
        <span class="count">{{ site.tags.length }}</span>
        <span class="name">{{ __('state.tags') }}</span>
      </a>
    </div>
  {%- endif %}
</nav>

<div class="social">
  {%- for name, link in theme.social %}
    {%- set sidebarURL = link.split('||')[0] | trim %}
    {%- set sidebarIcon = '<i class="ic i-' + link.split('||')[1] | trim + '"></i>' %}
      {{ _url(sidebarURL, sidebarIcon, {title: sidebarURL, class: 'item ' + name}) }}
  {%- endfor %}
</div>

<ul class="menu">
  {{ partial('_partials/sidebar/menu.njk', {}, {cache: true}) }}
</ul>
