.related {
  font-size: $font-size-small;

  ul {

    padding: 0 2px 5px 20px;
    text-align: left;

    li {
      position: relative;
      line-height: 1.8;
      padding-bottom: 10px;

      a {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 100%;
        display: inline-block;
      }

      &.active a {
        color: var(--primary-color);
      }

      &::before {
        content: "";
        width: 8px;
        height: 8px;
        background: var(--primary-color);
        box-sizing: unset;
        left: -20px;
        top: 5px;
        border-radius: 100%;
        position: absolute;
        border: 3px solid var(--grey-1);
        z-index: $zindex-1;
        the-transition();
      }

      &:hover::before {
        background: var(--color-blue);
      }

      &:not(:last-child)::after {
        content: "";
        height: 100%;
        width: 2px;
        background: var(--color-red-a3);
        position: absolute;
        left: -14px;
        top: 8px;
      }
    }
  }
}
