// Sidebar Navigation
.sidebar .tab {
  position: absolute;
  display: inline-flex;
  padding: 30px 0 10px;
  margin: 0;
  min-height: 30px;


  li {
    cursor: pointer;
    display: inline-flex;
    font-size: $font-size-small;
    padding: 5px 15px;
    color: var(--grey-5);

    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    background-color: rgba(0, 0, 0, .08);

    the-transition(.2s, ease-out);

    &:nth-child(2) {
      margin: auto 10px;
    }

    span {
      display: none;
      word-break: keep-all;
    }

    &.active span {
      display: inherit;
    }

    &:hover,
    &.active {
      color: var(--grey-0);
      background-image: linear-gradient(to right,var(--color-pink) 0,var(--color-orange) 100%);
      box-shadow: 0 0 12px var(--color-pink-a3);
    }


    &.active:hover {
      box-shadow: 0px 0px 12px var(--color-pink);
    }

    &::before {
      font-family-icons();
    }

    &.contents::before {
      @extend .i-list-ol:before;
    }

    &.related::before {
      @extend .i-sitemap:before;
    }

    &.overview::before {
      @extend .i-home:before;
    }

    &.active::before {
      margin-right: 5px;
    }
  }

}

.sidebar.affix .tab {
  padding-top: 10px;
}
