.post .body .note {

  border-radius: 3px;
  margin-bottom: 20px;
  padding: 1em;
  position: relative;

  background: var(--note-bg);
  border: 1px solid var(--note-border);
  color: var(--note-text);
  font-size: $font-size-small;
  line-height: 1.8;

  padding-left: 3em;

  a,
  span.exturl {
    &:not(.btn) {
      color: var(--note-hover);
      border-bottom: 1px dashed var(--note-border);

      &:hover {
        color: var(--note-text);
        border-bottom-color: var(--note-text);
      }
    }
  }

  &::before {
    font-size: $font-size-largest;
    left: .4em;
    position: absolute;
    top: calc(50% - 1em);
    font-family-icons();
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 3px;
    border-bottom: initial;
    margin-bottom: 0;
    padding-top: 0;
  }

  p,
  ul,
  ol,
  table,
  pre,
  blockquote,
  img {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  ul {
    li::before {
      background: var(--note-text) !important;
      top: 8px !important;
    }
  }


  &.default {
    --note-border: $default-border;
    --note-bg: $default-bg;
    --note-text: $default-text;
    --note-hover: $default-hover;

    &::before {
      @extend .i-arrow-circle-right:before;
    }
  }

  &.primary {
    --note-border: $primary-border;
    --note-bg: $primary-bg;
    --note-text: $primary-text;
    --note-hover: $primary-hover;

    &::before {
      @extend .i-plus-circle:before;
    }
  }

  &.info {
    --note-border: $info-border;
    --note-bg: $info-bg;
    --note-text: $info-text;
    --note-hover: $info-hover;

    &::before {
      @extend .i-info-circle:before;
    }
  }

  &.success {
    --note-border: $success-border;
    --note-bg: $success-bg;
    --note-text: $success-text;
    --note-hover: $success-hover;

    &::before {
      @extend .i-check-circle:before;
    }

  }

  &.warning {
    --note-border: $warning-border;
    --note-bg: $warning-bg;
    --note-text: $warning-text;
    --note-hover: $warning-hover;

    &::before {
      @extend .i-exclamation-circle:before;
    }

  }

  &.danger {
    --note-border: $danger-border;
    --note-bg: $danger-bg;
    --note-text: $danger-text;
    --note-hover: $danger-hover;

    &::before {
      @extend .i-minus-circle:before;
    }

  }
}
