.rotate {
  animation: rotate 6s linear infinite;
}

.beat {
  animation: beat 1.33s ease-in-out infinite;
}

.flash {
  animation: flash 6s cubic-bezier(0.22, 0.61, 0.36, 1) infinite;
}

.up-down {
  animation: UpDown 2s infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0)
  }

  to {
    transform: rotate(360deg)
  }
}


@keyframes beat {

  0%,
  100% {
    transform: scale(1);
  }

  10%,
  30% {
    transform: scale(.9);
  }

  20%,
  40%,
  60%,
  80% {
    transform: scale(1.1);
  }

  50%,
  70% {
    transform: scale(1.1);
  }
}

@keyframes flash {

  0%,
  50%,
  to {
    opacity: 1
  }

  25%,
  75% {
    opacity: 0
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: scaleY(0);
  }

  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}

@keyframes blur {
    0% {
        filter: blur(10px)
    }

    to {
        filter: blur(0)
    }
}

@keyframes blur-dark {
    0% {
        filter: blur(10px) brightness(.6)
    }

    to {
        filter: blur(0) brightness(.6)
    }
}

@keyframes UpDown {
  0%, 100% {
    opacity: .8;
    transform: translateY(0);
  }
  50% {
    opacity: .4;
    transform: translateY(-10px);
  }
}
