$page-number-basic {
  display: inline-block;
  margin: 0 8px;
  padding: 0 12px;
  position: relative;
  border-radius: 5px;

  +mobile() {
    margin: 0 5px;
  }
}

.pagination {
  width: 100%;
  padding: 20px 50px;
  text-align: center;
  display: inline-block;
  color: var(--grey-3);

  +mobile() {
    padding: 20px 10px;
  }

  .inner {
    width: auto;
    border-radius: 15px;
  }

  .prev,
  .next,
  .page-number {
    @extend $page-number-basic;

    the-transition();

    &:hover {
      background: var(--primary-color);
      box-shadow: 0 0 5px var(--primary-color);
      color: var(--grey-0);
    }
  }

  .space {
    @extend $page-number-basic;
    margin: 0;
    padding: 0;
  }

  .prev {
    margin-left: 0;
  }

  .next {
    margin-right: 0;
  }

  .page-number.current {
    background: var(--primary-color);
    box-shadow: 0 0 5px var(--primary-color);
    color: var(--grey-0);
  }
}

/*+mobile() {
  .pagination {
    border-top: none;
  }

  .pagination {
    .prev, .next, .page-number {
      border-bottom: 1px solid var(--grey-3);
      border-top: 0;
      margin-bottom: 10px;
      padding: 0 10px;

      &:hover {
        border-bottom-color: var(--color-red);
      }
    }
  }
}*/
