.table-container {
  overflow: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: $font-size-small;
  margin: 0 0 20px 0;
  width: 100%;

}

tbody tr {
  &:nth-of-type(even) {
    background: var(--grey-0);
  }

  &:hover {
    background: var(--grey-2);
  }
}

caption, th, td {
  font-weight: normal;
  padding: 8px;
  text-align: left;
  vertical-align: middle;
}

th, td {
  border: 1px solid var(--grey-3);
  border-bottom: 3px solid var(--grey-3);
}

th {
  font-weight: 700;
  padding-bottom: 10px;
  text-align: center;
}

td {
  border-bottom-width: 1px;

  p:last-child, pre:last-child, .highlight:last-child {
    margin: 0;
  }

}
