.copyright ul {
  background: var(--grey-1);

  padding: .5em 2em;
  position: relative;
  font-size: $font-size-smallest;

  &::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    left: -5px;
    top: 0px;
    background: var(--primary-color);
    border-radius: 6px;
  }
}
