.post header {
  font-size: $font-size-large;
  margin-bottom: 10px;


  .title {
    font-size: $font-size-larger;
    margin: initial;
    text-align: center;
    word-wrap();
    padding-bottom: 10px;
  }


  .sticky {
    display: inline-block;
    transform: rotate(30deg);
    backface-visibility: hidden;
  }

  .link {
    display: inline-block;
    position: relative;
    vertical-align: top;

    .i-link-alt {
      font-size: $font-size-small;
      margin-left: 5px;
    }
  }

  .meta {
    text-align: center;
    border-top: 1px dashed var(--grey-9-a1);
    font-family: $font-family-posts;
  }

}


.post .meta {
    color: var(--grey-5);
    font-size: $font-size-smallest;
    text-align: right;

    .item {
      //border-radius: 10px;
      //padding: 0 10px;
      display: inline-block;
      //margin-bottom: 5px;
      margin-right: 10px;
      //the-transition();
    }

    /*.item:nth-child(1) {
      background-color: var(--color-red-a1);
      color: var(--color-red);
      &:hover {
        background-color: var(--color-red-a3);
      }
    }
    .item:nth-child(2) {
      background-color: alpha($blue,.15);
      color: $blue;
      &:hover {
        background-color: alpha($blue,.3);
      }
    }
    .item:nth-child(3) {
      background-color: alpha($orange,.15);
      color: $orange;
      &:hover {
        background-color: alpha($orange ,.3);
      }
    }*/

    .icon {
      margin-right: 3px;

      +tablet-mobile() {
        display: inline-block;
      }
    }

  }
