.post .tags {
  text-align: center;
  font-size: $font-size-smallest;

  a {
    display: inline-block;
    position: relative;
    color: var(--color-pink);
    padding: 0px 5px;

    &:not(:last-child) {
      margin-right: 10px;
    }

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      height: 100%;
      width: 0;
      right: 0;
      background: var(--color-red-a1);
      border-radius: 4px;
      the-transition();
    }

    &:hover {
      color: var(--primary-color);

      &:before {
        width: 104%;
        left: -2%;
      }
    }
  }
}
