.widgets {
  border-top: 1px solid var(--grey-2);
  margin-top: 15px;
  text-align: center;


  .header {
    position: relative;
    padding-left: 10px;

    &::before {
      content: "";
      position: absolute;
      width: 5px;
      height: 2em;
      left: -5px;
      background: var(--primary-color);
      border-radius: 6px;
    }
  }
}
